:root{
    --darkerColor: #f9c841;
    --LighterColor: #e6c660;
    --BackgroundColor: #0a0a0a;
    --White:#eaeaea;
}

* {
    margin: 0%;
    padding: 0%;
}


body {
    display: flex;
    flex-direction: column;
    height: 150vh;
    width: 100%;
    background-color:var(--BackgroundColor);
    font-family: 'imbue','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}


header {
    min-height: 16%;
   display: flex;
   flex-direction: column;
}

.headerTop{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    background-color: var(--BackgroundColor);
}

.leftHeaderLinks {
    align-content: center;
}

.leftHeaderLinks h1 {
    color: var(--darkerColor);
    margin: 30px;

}

.rightHeaderLinks {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;

    

   
}
.rightHeaderLinks a  {
    text-decoration: none;
    color: var(--darkerColor);
    
  
 }

 .rightHeaderLinks a:hover {
    text-decoration: underline;
    cursor: pointer;
 }

.headerBottom {
    display: flex;
    width: 100%;
    flex: 1;
    background-color:var(--LighterColor);
    min-height: 40px;
    align-items: center;


}

.goldLinks {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    font-family: 'Times New Roman', Times, serif;

  
    
}

.goldLinks a {
    text-decoration: none;
    color: var(--BackgroundColor);
}

.goldLinks a:hover {
    text-decoration: underline;
    cursor: pointer;
}

section {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.middle {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--BackgroundColor);
    width: 100%;
 
}
.container {
    outline: solid 7px var(--darkerColor);
    width: 60%;
    height: 70%;
    display: flex;


    
}

.image {
    flex: 1;
 
}

.image img {
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
}

.text {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--BackgroundColor);
    justify-content: space-evenly;
    align-items: center;
  
}

h1{
 
    color:var(--LighterColor);
    display: flex;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    
    
}

.text p {
    color: var(--White);
    text-align: center;

}

.text a {
    background-color: var(--LighterColor);
    padding: 4% 6%;
    border-radius: 40px;
    width: 40%;
    align-self: center;
    text-align: center;
    min-width: 70px;
    font-family: 'Times New Roman', Times, serif;
}

.text a:hover {
    background-color: #c39d21;
    cursor: pointer;
}



.middleBottom {
    flex: 1;
    display: flex;
    background-color: var(--BackgroundColor);
}

.secondBodyLeft {
    height: 100%;
}
.imgContainer {
    height: 100%;
}
.secondBodyLeft img {
    height: 100%;
    width: 100%;
}


.secondBodyRight{
    flex: 1;
    display: flex;
    flex-direction: column;
 
    align-content: center;
    justify-content: space-evenly;
    text-align: center;

}

h3 {
    color: var(--LighterColor);
    font-family: 'Times New Roman', Times, serif;

}

.secondBodyRight p {
    color: var(--White);
    font-family: 'Times New Roman', Times, serif;
}

.container {

}

.secondBodyLeft{
    flex: 1;


}


.secondBodyRight a {
    border: 1px solid var(--LighterColor);
    color: var(--LighterColor);
    padding: 4% 6%;
    border-radius: 40px;
    width: 40%;
    align-self: center;
    text-align: center;
}

.secondBodyRight a:hover {
    cursor: pointer;
    color: #eaeaea;
    border-color: #eaeaea;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--BackgroundColor);
   

}